# Ignore tags created by etags and ctags
TAGS
!TAGS/
tags
!tags/

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

.vim/plugin/cscope_maps.vim.txt
.vim/plugin/mimicpak.vim
.vim/plugin/taglist.vim
.vim/doc/taglist.txt
.vim/syntax/sv.vim
